.profile-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    width: 300px;
    max-width: 200px;
    border-radius: 5px;
}

.profile-box > *{
    width: 100%;
}

.profile-box img{
    border-radius: 50%;
}

.profile-btn-box{
    display: flex;
    justify-content: space-between;
}

.profile-box button {
    padding: 0.3rem 0.5rem;
    border: 0;
    border-radius: 5px;
    background-color: rgb(53, 53, 253);
    color: #f5f5f5;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.profile-box button:hover{
    background-color: rgb(13, 13, 247);
}